<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>BusinessApps</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>
        body {
          padding-top: 5rem;
        }
        .center-text {
          padding: 3rem 1.5rem;
          text-align: center;
        }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

        <div class="center-text">
            <h1>M R Interiors</h1>
            <div class="row">
                {% if initial_data %}
                    <div class="col-md-8">
                        <table class="table table-sm table-dark">
                            <tbody>
                            <tr>
                                <th scope="row">Invoice Date</th>
                                <td>{{ initial_data.invoice_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Reference Number</th>
                                <td>{{ initial_data.reference_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Reference Date</th>
                                <td>{{ initial_data.reference_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Addressed To</th>
                      <td>{{ initial_data.addressed_to }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Party GST</th>
                      <td>{{ initial_data.party_gst }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              {% endif %}
          </div>
      </div>

      {% if prev_data %}
          <table class="table table-sm table-dark">
              <thead>
                <tr>
                  <th scope="col">Item Number</th>
                  <th scope="col">Short Description</th>
                  <th scope="col">Description</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
              {% for d in prev_data %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ d.short_description }}</td>
                  <td>{{ d.particulars }}</td>
                  <td>{{ d.quantity }}</td>
                  <td>{{ d.unit }}</td>
                  <td>{{ d.unit_price }}</td>
                  <td>{{ d.total }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      {% endif %}

        <form class="row" id="main-form" method="post" action="{% url 'invoice:create' %}">
            {% csrf_token %}
            <div class="col-md-5">
                {% if initial_data %}
                    <input type="hidden" value="{{ initial_data }}" id="initial_data" name="initial_data">
                {% endif %}
                {% if prev_data %}
                    <input type="hidden" value="{{ prev_data }}" id="prev_data" name="prev_data">
                {% endif %}
                {{ form }}
            </div>
            {% if stage == "1" %}
                <div class="col-md-5">
                    <input type="submit" class="btn btn-outline-info" value="Continue">
                </div>
            {% elif stage == "2" %}
                <div class="col-md-5">
                    <a href="javascript:Add()" class="btn btn-outline-info">Add Another Item</a>
                    <a href="javascript:save()" class="btn btn-outline-info">Proceed</a>
                </div>
                <script>
                    function Add() {
                        let form_data = document.getElementById("main-form");
                        form_data.setAttribute("action", "{% url 'invoice:save_add' %}");
                        form_data.submit();
                    }

                    function save() {
                        let form_data = document.getElementById("main-form");
                        form_data.setAttribute("action", "{% url 'invoice:save_tax' %}");
                        form_data.submit();
                    }
                </script>
            {% elif stage == "3" %}
                {% if error %}
                    <div class="badge badge-error">
                        {{ error }}
                    </div>
                {% endif %}
                <script>
                    form_data = document.getElementById("main-form").setAttribute("action", "{% url 'invoice:save_print' %}");
                </script>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-outline-info" value="Preview">
                </div>
            {% endif %}
        </form>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
  </body>
</html>
